
<pre>
{
  "timestamp": "2021-01-15T19:17:13",
  "entity": {
    "environment": "ON_PREM",
    "name": "test-rdm-shared2",
    "attrs": {
      "guest_os_type": "WINDOWS",
      "connected_networks": [
        "VM Network"
      ],
      "num_cpus": 1
    },
    "state": "POWERED_OFF",
    "oid": 73754533904736,
    "type": "VIRTUAL_MACHINE",
    "related": {
      "PHYSICAL_MACHINE": [
        {
          "name": "hp-esx46.corp.vmturbo.com",
          "oid": 73754533901584
        }
      ],
      "COMPUTE_CLUSTER": [
        {
          "name": "Datacenter DC7/Cluster01",
          "oid": 284907641559697
        }
      ],
      "DATACENTER": [
        {
          "name": "Datacenter DC7",
          "oid": 73754533900625
        }
      ],
      "VIRTUAL_DATACENTER": [
        {
          "name": "Resources-Cluster01",
          "oid": 73754533901777
        }
      ],
      "VIRTUAL_VOLUME": [
        {
          "name": "Vol-test-rdm-shared2-QSGRID01:DC7DS2",
          "oid": 73754533909440
        },
        {
          "name": "Vol-test-rdm-shared2-test-rdm-shared1 : [QSGRID01:DC7DS2] test-rdm-shared1/test-rdm-shared1_1.vmdk",
          "oid": 73754533909439
        }
      ],
      "STORAGE": [
        {
          "name": "test-rdm-shared1 : [QSGRID01:DC7DS2] test-rdm-shared1/test-rdm-shared1_1.vmdk",
          "oid": 73754533901780
        },
        {
          "name": "QSGRID01:DC7DS2",
          "oid": 73754533900756
        }
      ],
      "DISK_ARRAY": [
        {
          "name": "test-rdm-shared1",
          "oid": 73754533901786
        },
        {
          "name": "DiskArray-QSGRID01:DC7DS2",
          "oid": 73754533900667
        }
      ]
    },
    "metric": {
      "STORAGE_AMOUNT": {
        "consumed": 3
      },
      "MEM_ALLOCATION": {
        "consumed": 0
      },
      "CPU_PROVISIONED": {
        "consumed": 2600
      },
      "VCPU": {
        "current": 0,
        "capacity": 2600,
        "utilization": 0
      },
      "BALLOONING": {
        "consumed": 0
      },
      "STORAGE_PROVISIONED": {
        "consumed": 15367.5751953125
      },
      "SWAPPING": {
        "consumed": 0
      },
      "IO_THROUGHPUT": {
        "consumed": 0
      },
      "MEM": {
        "consumed": 0
      },
      "NET_THROUGHPUT": {
        "consumed": 0
      },
      "MEM_PROVISIONED": {
        "consumed": 4194304
      },
      "VMEM": {
        "current": 0,
        "capacity": 4194304,
        "utilization": 0
      },
      "STORAGE_ACCESS": {
        "consumed": 0
      },
      "CPU_ALLOCATION": {
        "consumed": 0
      },
      "STORAGE_LATENCY": {
        "consumed": 0
      },
      "CPU": {
        "consumed": 0
      }
    }
  }
}
</pre>