<html><body>
	
	<ul>
		<li><p><code>oid</code>: 
			
			
			
			
		</p></li>
		<li><p><code>hash</code>: 
			
			
			
			
		</p></li>
		<li><p><code>type</code>: 
			
			
			
			
		</p></li>
		<li><p><code>name</code>: 
			
			
			
			
		</p></li>
		<li><p><code>environment</code>: 
			
			
			
			
		</p></li>
		<li><p><code>state</code>: 
			
			
			
			
		</p></li>
		<li><p><code>attrs</code>: 
			
			
			
			
		</p></li>
		<li><p><code>scope</code>: 
			
			
			
			
		</p></li>
		<li><p><code>first_seen</code>: 
			
			
			
			
		</p></li>
		<li><p><code>last_seen</code>: 
			
			
			
			
		</p></li>
	</ul>
</body></html>