<html><body>
	
	
	<ul>
		<li><p><code>oid</code>: 
			
			
			
			Unique entity identifier.
			
		</p></li>
		<li><p><code>type</code>: 
			
			
			
			Type of entity. This field supports both entity and group types. 
				See <a href="enum/entity_type.html">entity_type</a>.
			
		</p></li>
		<li><p><code>name</code>: 
			
			
			
			Entity’s current display name. 
				While display names may change over time, the data tracks 
				only the most recent display name.
			
		</p></li>
		<li><p><code>environment</code>: 
			
			
			
			The kind of environment the entity exists in. Can be one of:
				{% include genFiles/environment_type.html %}
			
		</p></li>
		<li><p><code>state</code>: 
			
			
			
			The current state of the entity. Can be one of:
				{% include genFiles/entity_state.html %}
			
		</p></li>
		<li><p><code>attrs</code>: 
			
			
			
			Information that is specific for the given entity type.
			This can be null for an entity that has no attributes. Can be one of:
				{% include genFiles/attr_type.html %}
			
		</p></li>
		<li><p><code>metric</code>: 
			
			
			
			A list of metrics for the entity. Can be empty for 
				an entity with no commodities. See <a href="metric.html">metric</a>.
			
		</p></li>
		
		<li><p><code>related</code>: 
			
			
			
			Entities that are connected to this entity in the supply chain. 
				Can include any <a href="enum/entity_type.html">entity_type</a>, or any of the following:
				{% include genFiles/related_types.html %}
			
		</p></li>
		
		
		
	</ul>
</body></html>