<html><body>
	
	
	<ul>
		<li><p><code>oid</code>: 
			
			
			
			Unique entity identifier
			
		</p></li>
		<li><p><code>type</code>: 
			
			
			
			Type of entity. This field supports both entity and group types.
			
		</p></li>
		<li><p><code>name</code>: 
			
			
			
			Entity’s current display name. 
				While display names may change over time, the data tracks 
				only the most recent display name.
			
		</p></li>
		<li><p><code>environment</code>: 
			
			
			
			The kind of environment the entity exists in.
			
		</p></li>
		<li><p><code>attrs</code>: 
			
			
			
			Information that is specific for the given entity type.
				{% include genFiles/attr_type.html %}
			
		</p></li>
		<li><p><code>first_seen</code>: 
			
			
			
			A topology timestamp for when this entity first appeared.
			
		</p></li>
		<li><p><code>last_seen</code>: 
			
			
			
			A topology timestamp for when this entity last 
				appeared.
				A value of 9999-12-31T23:59:59 means the entity still exists 
				in latest market cycle.
				
		</p></li>
	</ul>
</body></html>