<html><body>
	
	<ul>
		<li><p><code>time</code>: 
			
			
			
			The time this attribute was recorded.
		</p></li>
		<li><p><code>entity_oid</code>: 
			
			
			
			The oid of the entity the attribute
				pertains to.
		</p></li>
		<li><p><code>type</code>: 
			
			
			
			The attribute type.
		</p></li>
		<li><p><code>bool_value</code>: 
			
			
			
			If the attribute is boolean, this is the
				boolean value.
		</p></li>
		<li><p><code>int_value</code>: 
			
			
			
			If the attribute is an integer, this is
				the integer value. If the attribute is
				an enum, this is the oid of the
				enum in the pg_enum table (to
				guard against name or order
				changes). The int_value should be
				castable to the enum via a custom
				cast (e.g. int	_value::entity_state =
				'POWERED_ON').
		</p></li>
		<li><p><code>long_value</code>: 
			
			
			
			If the attribute is a long, this is the
				long value.
			
		</p></li>
		<li><p><code>double_value</code>: 
			
			
			
			If the attribute is a double, this is the
				double value.
			
		</p></li>
		<li><p><code>string_value</code>: 
			
			
			
			If the attribute is a string, this is the
				string value.
			
		</p></li>
		<li><p><code>int_arr_value</code>: 
			
			
			
			If the attribute is a list of ints, this is
				the value. If the attribute is a list of
				enums, these are the OIDs of the
				enums in the pg_enum table (to
				guard against name or order
				changes).
		</p></li>
		<li><p><code>long_arr_value</code>: 
			
			
			
			If the attribute is a list of longs, this
				is the value.
		</p></li>
		<li><p><code>string_arr_value</code>: 
			
			
			
			If the attribute is a list of strings, this
				is the value.
		</p></li>
		<li><p><code>double_arr_value</code>: 
			
			
			
			If the attribute is a list of doubles,
				this is the value.
		</p></li>
		<li><p><code>json_value</code>: 
			
			
			
			If the attribute is a JSON object, this
				is the value.
		</p></li>
	</ul>
</body></html>