<html><body>
	
	<ul>
		<li><p><code>time</code>: 
			
			
			
			Timestamp on the topology from
				which this metric was obtained. For
				headroom metrics this is the time at
				which the headroom plan was
				created.
		</p></li>
		<li><p><code>entity_oid</code>: 
			
			
			
			Oid of the entity to which the metric
				applies.
		</p></li>
		<li><p><code>type</code>: 
			
			
			
			The type of the metric.
		</p></li>
		<li><p><code>provider_oid</code>: 
			
			
			
			Oid of the seller of this commodity.
			
		</p></li>
		<li><p><code>key</code>: 
			
			
			
			The commodity key. This value can
				be null if no key is present.
		</p></li>
		<li><p><code>current</code>: 
			
			
			
			Current utilization of the commodity on the selling entity
		</p></li>
		<li><p><code>capacity</code>: 
			
			
			
			Capacity of the commodity on the selling
				entity
		</p></li>
		<li><p><code>utilization</code>: 
			
			
			
			Utilization of the commodity on the selling
				entity.
			
		</p></li>
		<li><p><code>consumed</code>: 
			
			
			
			Amount of the commodity currently
				used by the buying entity
		</p></li>
		<li><p><code>peak_current</code>: 
			
			
			
			Peak amount of the
				commodity of the selling entity
		</p></li>
		<li><p><code>peak_consumed</code>: 
			
			
			
			Peak amount of the commodity
				currently used by the buying entity
			
		</p></li>
		<li><p><code>entity_type</code>: 
			
			
			
			The type of the entity in the entity_oid column.
		</p></li>
	</ul>
</body></html>