<html><body>
	
	<ul>
		<li><p><code>time</code>: 
			
			
			
			
		</p></li>
		<li><p><code>entity_oid</code>: 
			
			
			
			
		</p></li>
		<li><p><code>entity_hash</code>: 
			
			
			
			
		</p></li>
		<li><p><code>type</code>: 
			
			
			
			
		</p></li>
		<li><p><code>current</code>: 
			
			
			
			
		</p></li>
		<li><p><code>capacity</code>: 
			
			
			
			
		</p></li>
		<li><p><code>utilization</code>: 
			
			
			
			
		</p></li>
		<li><p><code>consumed</code>: 
			
			
			
			
		</p></li>
		<li><p><code>provider_oid</code>: 
			
			
			
			
		</p></li>
		<li><p><code>key</code>: 
			
			
			
			
		</p></li>
	</ul>
</body></html>