<html><body>
	
	<ul>
		<li><p><code>ACTIVE_SESSIONS</code>:
			
		</p></li>
		<li><p><code>BALLOONING</code>:
			
		</p></li>
		<li><p><code>BUFFER_COMMODITY</code>:
			
		</p></li>
		<li><p><code>CONNECTION</code>:
			
		</p></li>
		<li><p><code>COOLING</code>:
			
		</p></li>
		<li><p><code>CPU</code>:
			
		</p></li>
		<li><p><code>CPU_ALLOCATION</code>:
			
		</p></li>
		<li><p><code>CPU_HEADROOM</code>:
			
		</p></li>
		<li><p><code>CPU_PROVISIONED</code>:
			
		</p></li>
		<li><p><code>CPU_READY</code>:
			
		</p></li>
		<li><p><code>DB_CACHE_HIT_RATE</code>:
			
		</p></li>
		<li><p><code>DB_MEM</code>:
			
		</p></li>
		<li><p><code>DTU</code>:
			
		</p></li>
		<li><p><code>EXTENT</code>:
			
		</p></li>
		<li><p><code>FLOW</code>:
			
		</p></li>
		<li><p><code>FLOW_ALLOCATION</code>:
			
		</p></li>
		<li><p><code>HEAP</code>:
			
		</p></li>
		<li><p><code>IMAGE_CPU</code>:
			
		</p></li>
		<li><p><code>IMAGE_MEM</code>:
			
		</p></li>
		<li><p><code>IMAGE_STORAGE</code>:
			
		</p></li>
		<li><p><code>IO_THROUGHPUT</code>:
			
		</p></li>
		<li><p><code>MEM</code>:
			
		</p></li>
		<li><p><code>MEM_ALLOCATION</code>:
			
		</p></li>
		<li><p><code>MEM_HEADROOM</code>:
			
		</p></li>
		<li><p><code>MEM_PROVISIONED</code>:
			
		</p></li>
		<li><p><code>NET_THROUGHPUT</code>:
			
		</p></li>
		<li><p><code>POOL_CPU</code>:
			
		</p></li>
		<li><p><code>POOL_MEM</code>:
			
		</p></li>
		<li><p><code>POOL_STORAGE</code>:
			
		</p></li>
		<li><p><code>PORT_CHANEL</code>:
			
		</p></li>
		<li><p><code>POWER</code>:
			
		</p></li>
		<li><p><code>Q16_VCPU</code>:
			
		</p></li>
		<li><p><code>Q1_VCPU</code>:
			
		</p></li>
		<li><p><code>Q2_VCPU</code>:
			
		</p></li>
		<li><p><code>Q32_VCPU</code>:
			
		</p></li>
		<li><p><code>Q3_VCPU</code>:
			
		</p></li>
		<li><p><code>Q4_VCPU</code>:
			
		</p></li>
		<li><p><code>Q5_VCPU</code>:
			
		</p></li>
		<li><p><code>Q64_VCPU</code>:
			
		</p></li>
		<li><p><code>Q6_VCPU</code>:
			
		</p></li>
		<li><p><code>Q7_VCPU</code>:
			
		</p></li>
		<li><p><code>Q8_VCPU</code>:
			
		</p></li>
		<li><p><code>QN_VCPU</code>:
			
		</p></li>
		<li><p><code>REMAINING_GC_CAPACITY</code>:
			
		</p></li>
		<li><p><code>RESPONSE_TIME</code>:
			
		</p></li>
		<li><p><code>SLA_COMMODITY</code>:
			
		</p></li>
		<li><p><code>STORAGE_ACCESS</code>:
			
		</p></li>
		<li><p><code>STORAGE_ALLOCATION</code>:
			
		</p></li>
		<li><p><code>STORAGE_AMOUNT</code>:
			
		</p></li>
		<li><p><code>STORAGE_HEADROOM</code>:
			
		</p></li>
		<li><p><code>STORAGE_LATENCY</code>:
			
		</p></li>
		<li><p><code>STORAGE_PROVISIONED</code>:
			
		</p></li>
		<li><p><code>SWAPPING</code>:
			
		</p></li>
		<li><p><code>THREADS</code>:
			
		</p></li>
		<li><p><code>TOTAL_HEADROOM</code>:
			
		</p></li>
		<li><p><code>TOTAL_SESSIONS</code>:
			
		</p></li>
		<li><p><code>TRANSACTION</code>:
			
		</p></li>
		<li><p><code>TRANSACTION_LOG</code>:
			
		</p></li>
		<li><p><code>VCPU</code>:
			
		</p></li>
		<li><p><code>VCPU_LIMIT_QUOTA</code>:
			
		</p></li>
		<li><p><code>VCPU_REQUEST</code>:
			
		</p></li>
		<li><p><code>VCPU_REQUEST_QUOTA</code>:
			
		</p></li>
		<li><p><code>VMEM</code>:
			
		</p></li>
		<li><p><code>VMEM_LIMIT_QUOTA</code>:
			
		</p></li>
		<li><p><code>VMEM_REQUEST</code>:
			
		</p></li>
		<li><p><code>VMEM_REQUEST_QUOTA</code>:
			
		</p></li>
		<li><p><code>VSTORAGE</code>:
			
		</p></li>
	</ul>
</body></html>