<html><body>
	
	<ul>
		<li><p><code>recommendation_time</code>: 
			
			
			
			The time the action was
				recommended.
			
		</p></li>
		<li><p><code>action_oid</code>: 
			
			
			
			oid of the action in the system.
			
		</p></li>
		<li><p><code>type</code>: 
			
			
			
			The type of the action.
		</p></li>
		<li><p><code>severity</code>: 
			
			
			
			The severity of the action.
		</p></li>
		<li><p><code>category</code>: 
			
			
			
			The category of the action.
		</p></li>
		<li><p><code>target_entity_id</code>: 
			
			
			
			The oid of the target entity.
		</p></li>
		<li><p><code>involved_entities</code>: 
			
			
			
			The oids of the involved entities
				(includes the target entity).
		</p></li>
		<li><p><code>description</code>: 
			
			
			
			The text description of the action.
		</p></li>
		<li><p><code>savings</code>: 
			
			
			
			Savings (or, if negative, investment) of the action.
		</p></li>
		<li><p><code>attrs</code>: 
			
			
			
			Additional (often type-specific) information
				for the action. For example, in
					resizes this will contain the
					commodity type and from/to
					amounts.
				
		</p></li>
	</ul>
</body></html>