<html><body>
	
	<ul>
		<li><p><code>COMPUTE_CLUSTER</code>:
			A cluster of VMs
		</p></li>
		<li><p><code>STORAGE_CLUSTER</code>:
			A cluster of datastores
		</p></li>
		<li><p><code>K8S_CLUSTER_GROUP</code>:
			A Kubernetes cluster group
		</p></li>
		<li><p><code>RESOURCE_GROUP</code>:
			
		</p></li>
		<li><p><code>BILLING_FAMILY</code>:
			A group of cloud targets that are all managed under the same billing agreement
		</p></li>
		<li><p><code>GROUP</code>:
			A discovered or user-defined group of entities. Can be a group of groups.
		</p></li>
	</ul>
</body></html>