<html><body>
	
	<ul>
		<li><p><code>seed_oid</code>: 
			
			
			
			oid of the entity whose scope is the subject of this record.
		</p></li>
		<li><p><code>scoped_oid</code>: 
			
			
			
			oid of the entity that is part of that scope.
		</p></li>
		<li><p><code>scoped_type</code>: 
			
			
			
			The type of entity.
		</p></li>
		<li><p><code>start</code>: 
			
			
			
			A timestamp for the first topology in which this relationship appeared. This covers the initial appearance, or a
				reappearance after the relationship was temporarily broken.
		</p></li>
		<li><p><code>finish</code>: 
			
			
			
			A timestamp of last topology in which this relationship appeared. A value of 9999-12-31T23:59:59 means
				the relationship is not yet known to have terminated.
		</p></li>
	</ul>
</body></html>