<html><body>
	
	<ul>
		<li><p><code>path</code>: 
			
			
			
			The path of the file
		</p></li>
		<li><p><code>file_size_kb</code>: 
			
			
			
			The size of the file
			
		</p></li>
		<li><p><code>modification_time</code>: 
			
			
			
			Last time the file was modified
		</p></li>
		<li><p><code>storage_oid</code>: 
			
			
			
			The oid of the storage which contains the
				file
			
		</p></li>
		<li><p><code>storage_name</code>: 
			
			
			
			Name of the storage (denormalized
				for reporting)
		</p></li>
	</ul>
</body></html>